{% extends "base.html.twig" %}

{% block body %}
    <body>
        <div class="panel panel-default">
            <div class="panel-heading">Subscribed Shifts</div>
            <div class="panel-body">
            {% for subscribedShiftId in subscribedShiftIds %}
                     <li><a href="{{ url('viewShift', {'id': subscribedShiftId })}}">{{ subscribedShiftId }}</a></li>
            {% endfor %}    
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Published Shifts</h3>
            </div>
            <div class="panel-body">
               
                {#{{  app.user.userType }}#}
                 {% for forSubscriptionshiftId in forSubscriptionshiftIds %}
                     <li><a href="{{ url('viewShift', {'id': forSubscriptionshiftId })}}">{{ forSubscriptionshiftId }}</a></li>
                {% endfor %}
            </div>
        </div>
    </body>
{% endblock %}
