{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">Approved Applicant</div>
        <div class="panel-body">
            <table style="width:80%">
                <tr>
                    <td>Applicant ID</td>
                    <td>{{selectedSubscriber.getId()}}</td> 

                </tr>
                <tr>
                    <td>First Name</td>
                    <td>{{ selectedSubscriber.getFirstName() }}</td> 

                </tr>

                <tr>
                    <td>Last Name</td>
                    <td>{{ selectedSubscriber.getLastName() }}</td> 

                </tr>

                <tr>
                    <td>Mobile Number</td>
                    <td>{{ selectedSubscriber.getMobileNumber() }}</td> 

                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ selectedSubscriber.getEmail() }}</td> 

                </tr>
                <tr>
                    <td>House  Number</td>
                    <td>{{ selectedSubscriber.getHouseNumber() }}</td> 

                </tr>
                <tr>
                    <td>Address Line 1</td>
                    <td>{{ selectedSubscriber.getAddressLine1() }}</td> 

                </tr>
                <tr>
                    <td>Post Code</td>
                    <td>{{ selectedSubscriber.getPostCode() }}</td> 

                </tr>
                <tr>
                    <td>Country</td>
                    <td>{{ selectedSubscriber.getcountry() }}</td> 
                </tr>
                <tr>
                    <td>Status</td>
                    {%if shift.getShiftStatus() == 'APPROVED'%}
                    <td><a href="{{ url()}}" class ='btn bg-success'>Waiting Acceptance</a></td>
                    <td><a href="{{ url()}}" class ='btn bg-success'>{{shift.get}}</a></td>
                    {%endif%}
                    {%if shift.getShiftStatus() == 'ACCEPTED'%}
                    <td><a href="{{ url()}}" class ='btn bg-success'>Accepted</a></td> 
                    {%endif%}
                    {%if shift.getShiftStatus() == 'APPROVED'%}
                    <td><a href="{{ url()}}" class ='btn bg-success'>Waiting Acceptance</a></td> 
                    {%endif%}
                </tr>
            </table>

            {% if app.user.userType is defined and app.user.userType == "employer" %}

                <a href="{{ url('updateShift', {'id': shift.id })}}" class ='btn bg-success'>Edit</a>
                <a href="{{ url('publishShift', {'id': shift.id })}}" class ='btn bg-success'>Publish</a>
                <a href="{{ url('deleteShift', {'id': shift.id })}}" class ='btn btn-danger'>Delete</a>
            {% endif %}

            {% if app.user.userType is defined and app.user.userType == "employee" %}

                <a href="{{ url('subscribeShift', {'id': shift.id })}}" class ='btn bg-success'>Subscribe</a>
                <a href="{{ url('unsubscribeShift', {'id': shift.id })}}" class ='btn bg-success'>Unsubscribe</a>

            {% endif %}

        </div>
    </div>
{% endblock %}
