{% extends "base.html.twig" %}

{% block title %}ShiftBundle:ShiftUser:get{% endblock %}

{% block error %}
    <p>{{ error }}</p>
{% endblock %}

{% block body %}
    <div class="omb_login">
        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6" style="border: 1px solid grey;">
                <form method="post" action="/user/login/social/save">
                    <div class="form-group" style="alignment: center;">
                        <div class="panel-heading">Please fill in these details to complete your profile</div>
                        <div class="input-group">
                            <label>Please enter the user type</label>
                            <select id="usertype" name="usertype" class="form-control">
                                {% for role in roles %}
                                    <option value="{{ role }}">{{ role | capitalize}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if facebook_id is defined %}
                            <input type="hidden" class="form-control" name="facebook_id" id="facebook_id" value="{{ facebook_id }}"/>
                        {% endif %}
                        {% if googleplus_id is defined %}
                            <input type="hidden" class="form-control" name="googleplus_id" id="googleplus_id" value="{{ googleplus_id }}"/>
                        {% endif %}
                        {% if email is not empty %}
                            <input type="hidden" class="form-control" name="email" id="email" value="{{ email }}"/>
                        {% elseif facebook_id is defined %}
                            <div class="input-group">
                                <label>Email</label>
                                <input type="text" class="form-control" name="email" id="email"/>
                            </div>
                            <div class="input-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" name="first_name" id="first_name"/>
                            </div>
                            <div class="input-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" name="last_name" id="last_name"/>
                            </div>
                        {% endif %}

                        <div class="input-group">
                            <label>Mobile number</label>
                            <input type="text" class="form-control" name="mobile" id="mobile"/>
                        </div>
                        <div class="input-group">
                            <label>Post Code</label>
                            <input type="text" class="form-control" name="postcode" id="postcode"/>
                        </div>

                        <div class="input-group">
                            <input type="submit" value="Save" name="postcode" id="postcode"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
