{% block body %}
    <h2 class="StepTitle">Step 1: Personal Details </h2>
    <form method="POST" class="form-horizontal form-label-left" action="" id="personal">
        <span class="section">Personal Info</span>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3" for="first-name">First Name <span
                        class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6">
                <input type="text" id="first-name" name="first-name" required="required"
                       class="form-control col-md-7 col-xs-12" value="{{ app.user.firstName }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3" for="last-name">Last Name <span
                        class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6">
                <input type="text" id="last-name" name="last-name" required="required"
                       class="form-control col-md-7 col-xs-12" value="{{ app.user.lastName }}">
            </div>
        </div>
        <div class="form-group">
            <label for="middle-name" class="control-label col-md-3 col-sm-3">Email
                Initial</label>
            <div class="col-md-6 col-sm-6">
                <input id="email" class="form-control col-md-7 col-xs-12" type="email"
                       name="email" value="{{ app.user.email }}" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="middle-name" class="control-label col-md-3 col-sm-3">User Name</label>
            <div class="col-md-6 col-sm-6">
                <input id="username" class="form-control col-md-7 col-xs-12" type="text"
                       name="username" value="{{ app.user.userName }}" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="middle-name" class="control-label col-md-3 col-sm-3">Mobile</label>
            <div class="col-md-6 col-sm-6">
                <input id="mobile" class="form-control col-md-7 col-xs-12" type="text"
                       name="mobile" value="{{ app.user.mobileNumber }}">
            </div>
        </div>
        <div class="form-group">
            <label for="middle-name" class="control-label col-md-3 col-sm-3">Selected Role</label>
            <div class="col-md-6 col-sm-6">
                <input id="usertype" class="form-control col-md-7 col-xs-12" type="text"
                       name="usertype" value="{{ app.user.userType }}" disabled="disabled">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3">Gender</label>
            <p>
                M:
                {% if app.user.gender is defined and app.user.gender == 'M' %}
                    <input type="radio" class="flat" name="gender" id="genderM" value="M" checked="" required/>
                {% else %}
                    <input type="radio" class="flat" name="gender" id="genderM" value="M" required/>
                {% endif %}
                F:
                {% if app.user.gender is defined and app.user.gender == 'F' %}
                    <input type="radio" class="flat" name="gender" id="genderF" checked="" value="F"/>
                {% else %}
                    <input type="radio" class="flat" name="gender" id="genderF" value="F"/>
                {% endif %}
            </p>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3">Date Of Birth <span
                        class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6">
                <input id="birthday" name="birthday" class="date-picker form-control col-md-7 col-xs-12"
                       required="required" type="date" value="{{ app.user.dob|date('Y-m-d') }}">
            </div>
        </div>
    </form>
{% endblock %}
{% block javascripts %}
    <!-- Custom Theme Scripts -->
    <script src="{{ asset('js/front.js') }}"></script>
{% endblock %}
