{% block body %}
    <!-- bootstrap-daterangepicker -->
    <link href="{{ asset('assets/vendors/cropper/dist/cropper.css') }}" rel="stylesheet">

    <h2 class="StepTitle">Step 4: Resume & Photo </h2>
    <form enctype="multipart/form-data" method="post" class="form-horizontal form-label-left" action="{{ url("ajax_resume") }}" id="resumeForm">

        <span class="section">Upload your resume and a lovely photograph</span>
        <!-- COMPONENT START -->
        <div class="form-group">
            Resume <i class="fa fa-cloud-upload"></i>
            <input type="file" id="resume" name="resume" class="form-control btn-info"
                   accept="application/vnd.ms-word,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/pdf"
                   placeholder='Choose file..' />
        </div>
        <!-- COMPONENT START -->
        <div style="width: 600px; height: 600px; margin: auto">
            <img id="image_uploaded" name="image_uploaded" src="">
            <canvas id="canvas">
                Your browser does not support the HTML5 canvas element.
            </canvas>
        </div>

        <div class="form-group">
            <input type="file" id="photo" name="photo" class="form-control btn-info"
                   accept="image/gif, image/jpeg, image/png"  placeholder='Choose file..'/>
            <input type="button" id="btnCrop" value="Crop And Save" class="form-control btn-success"/>
        </div>

        <!-- COMPONENT END -->

        <label for="middle-name" class="control-label col-md-3 col-sm-3">Previous Experience</label>
        <div class="form-group">
            <div class="col-md-3 col-sm-3">
                <input id="previous-exp1-role" class="form-control col-md-7 col-xs-12" type="text"
                       name="previous-exp1-role" value="{{ resume_details.userExperience1 }}" placeholder="Role Name">
            </div>
            <div class="col-md-3 col-sm-3">
                <input id="previous-exp1-org" class="form-control col-md-7 col-xs-12" type="text"
                       name="previous-exp1-org" value="{{ resume_details.userOrganisation1 }}" placeholder="Organisation">
            </div>
        </div>
        <label for="middle-name" class="control-label col-md-3 col-sm-3"></label>
        <div class="form-group">
            <div class="col-md-3 col-sm-3">
                <input id="previous-exp2-role" class="form-control col-md-7 col-xs-12" type="text"
                       name="previous-exp2-role" value="{{ resume_details.userExperience2 }}" placeholder="Role Name">
            </div>
            <div class="col-md-3 col-sm-3">
                <input id="previous-exp2-org" class="form-control col-md-7 col-xs-12" type="text"
                       name="previous-exp2-org" value="{{ resume_details.userOrganisation2 }}" placeholder="Organisation">
            </div>
        </div>
        <label for="middle-name" class="control-label col-md-3 col-sm-3"></label>
        <div class="form-group">
            <div class="col-md-3 col-sm-3">
                <input id="previous-exp3-role" class="form-control col-md-7 col-xs-12" type="text"
                       name="previous-exp3-role" value="{{ resume_details.userExperience3 }}" placeholder="Role Name">
            </div>
            <div class="col-md-3 col-sm-3">
                <input id="previous-exp3-org" class="form-control col-md-7 col-xs-12" type="text"
                       name="previous-exp3-org"  value="{{ resume_details.userOrganisation3 }}" placeholder="Organisation">
            </div>
        </div>
    </form>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/vendors/jquery/dist/Jquery.js') }}"></script> {#yes#}
    <script src="{{ asset('js/ajaxSave.js') }}"></script> {#yes#}
{% endblock %}